<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <ul class="producto-lista">
            <% productos.forEach(producto => { %>
                <li class="producto-item">
                    <img src="/images/<%= producto.imagen %>" alt="<%= producto.marca %> <%= producto.modelo %>">
                    <div>
                        <h2><%= producto.marca %> <%= producto.modelo %></h2>
                        <p>Precio: $<%= producto.precio %></p>
                        <a href="/edit/<%= producto.id %>">Editar</a>
                        <a href="/delete/<%= producto.id %>?_method=DELETE">Eliminar</a>
                    </div>
                </li>
            <% }) %>
        </ul>
        <a href="/create">Creación de Vehículo</a>
    </main>
    <%- include('partials/footer') %>
</body>
</html>


